<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>MariTari | Dashboard Guru Tari</title>
  <!-- Bootstrap core CSS-->
  <link href="{{asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{{asset('vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{{asset('css/main.css')}}" rel="stylesheet">
</head>
  
<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Acara Tari</li>
      </ol>
     <section class="content">
      <h3 align="center">Event saat ini</h3>
      <div class="row"><!--Class 1 -->

      <div class="col-md-4"><!--Class 2 -->
         <div class="box box-primary">
            <div class="box-header with-border">
            </div><!--Class 2 ditutup -->
            <div class="col-md-12"><!--Class 3-->
        <img class="gambarEvent"src="https://i.ytimg.com/vi/i_Be4_2q0Rk/maxresdefault.jpg" width="260px" style="margin:10px;"align="center">
      <article class="post post-large">
				<div class="post-date">
					<span class="day">01</span>
					  <span class="month">Mar</span>
							</div>
							  <a href="www.jkt48.com">Pengumuman Show Dareka No Tameni</a><br>
                  <small>Lorem Ipsum Sit Amet Dolor Ngidul</small>
                  <button type="button" class="btn btn-warning btn-lg btn-block"style="margin:5px;">Selengkapnya</button><br>
          </article>
                </div>
                  </div>
                    </div>
                        <div class="col-md-4"><!--Class 2 -->
         <div class="box box-primary">
            <div class="box-header with-border">
            </div><!--Class 2 ditutup -->
            <div class="col-md-12"><!--Class 3-->
        <img class="gambarEvent" src="https://i.ytimg.com/vi/i_Be4_2q0Rk/maxresdefault.jpg" width="260px" style="margin:10px;"align="center">
      <article class="post post-large">
				<div class="post-date">
					<span class="day">01</span>
					  <span class="month">Mar</span>
							</div>
							 <a href="www.jkt48.com">Pengumuman Show Dareka No Tameni</a><br>
                  <small>Lorem Ipsum Sit Amet Dolor Ngidul</small>
                  <button type="button" class="btn btn-warning btn-lg btn-block"style="margin:5px;">Selengkapnya</button><br>
          </article>
                </div>
                  </div>
                    </div>
                <div class="col-md-4">
                <div class="box box-primary">
            <div class="box-header with-border">
            </div><!--Class 2 ditutup -->
            <div class="col-md-12"><!--Class 3-->
        <img class="gambarEvent" src="https://i.ytimg.com/vi/i_Be4_2q0Rk/maxresdefault.jpg" width="260px" style="margin:10px;"align="center">
      <article class="post post-large">
				<div class="post-date">
					<span class="day">01</span>
					  <span class="month">Mar</span>
							</div>
							   <a href="www.jkt48.com">Pengumuman Show Dareka No Tameni</a><br>
                  <small>Lorem Ipsum Sit Amet Dolor Ngidul</small>
                  <button type="button" class="btn btn-warning btn-lg btn-block"style="margin:5px;">Selengkapnya</button><br>
          </article>
                </div>
                  </div>
                    </div>
        <div class="col-md-4"><!--Class 2 -->
         <div class="box box-primary">
            <div class="box-header with-border">
            </div><!--Class 2 ditutup -->
            <div class="col-md-12"><!--Class 3-->
        <img class="gambarEvent" src="https://i.ytimg.com/vi/i_Be4_2q0Rk/maxresdefault.jpg" width="260px" style="margin:10px;"align="center">
      <article class="post post-large">
				<div class="post-date">
					<span class="day">01</span>
					  <span class="month">Mar</span>
							</div>
							   <a href="www.jkt48.com">Pengumuman Show Dareka No Tameni</a><br>
                  <small>Lorem Ipsum Sit Amet Dolor Ngidul</small>
                  <button type="button" class="btn btn-warning btn-lg btn-block"style="margin:5px;">Selengkapnya</button><br>
          </article>
                </div>
                  </div>
                    </div>
                        <div class="col-md-4"><!--Class 2 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>MariTari | Dashboard Guru Tari</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
</head>
<body>
         <div class="box box-primary">
            <div class="box-header with-border">
            </div><!--Class 2 ditutup -->
            <div class="col-md-12"><!--Class 3-->
        <img class="gambarEvent" src="https://i.ytimg.com/vi/i_Be4_2q0Rk/maxresdefault.jpg" width="260px" style="margin:10px;"align="center">
      <article class="post post-large">
				<div class="post-date">
					<span class="day">01</span>
					  <span class="month">Mar</span>
							</div>
						 <a href="www.jkt48.com">Pengumuman Show Dareka No Tameni</a><br>
                  <small>Lorem Ipsum Sit Amet Dolor Ngidul</small>
                  <button type="button" class="btn btn-warning btn-lg btn-block"style="margin:5px;">Selengkapnya</button><br>
          </article>
                </div>
                  </div>
                    </div>
                <div class="col-md-4">
                <div class="box box-primary">
            <div class="box-header with-border">
            </div><!--Class 2 ditutup -->
            <div class="col-md-12"><!--Class 3-->
        <img class="gambarEvent" src="https://i.ytimg.com/vi/i_Be4_2q0Rk/maxresdefault.jpg" width="260px" style="margin:10px;"align="center">
      <article class="post post-large">
				<div class="post-date">
					<span class="day">01</span>
					  <span class="month">Mar</span>
							</div>
							  <a href="www.jkt48.com">Pengumuman Show Dareka No Tameni</a><br>
                  <small>Lorem Ipsum Sit Amet Dolor Ngidul</small>
                  <button type="button" class="tmbl btn btn-warning btn-lg btn-block"style="margin:5px;">Selengkapnya</button><br>
          </article>
                </div>
                  </div>
                    </div>
                      </div>
     </section>
</body>
</html>